{% extends 'master' %}

{% block content %}
  <h2> Twitter Crawler made with Adonis.js </h2>
  <h3>Settings</h3>
  <h4>Still Based on Localhost </h4>
  <h4>Database Name : twittercrawler </h4>
  <h4>Collection Name : tweets </h4>
{% endblock %}
